:root {
    --body-bg: #C2D8C4;
    --text-primary: black;
    --text-secondary: rgba(0, 0, 0, 0.7);
    
    --interface-bg: #F8F5F2;
    --interface-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

    --interface-create-task-bg: #F8F5F2;
    --interface-create-task-button-bg: ;
    
    --interface-filter-container-bg: #F8F5F2;
    --interface-filter-button-bg: #F8F5F2;
    --interface-filter-button-color-text: #333;
    --interface-active-filter-button-bg: #C5E384;

    --interface-list-of-task-bg: #fefefe;
}

.dark-theme {
    --body-bg: linear-gradient(135deg, #0f172a, #111827, #1e293b);
    --text-primary: #f8fafc;
    --text-secondary: rgba(255, 255, 255, 0.7);

    --interface-bg: #1e293b;
    --interface-shadow: 0 10px 30px rgba(0, 0, 0, 0.45);

    --interface-create-task-bg: #475569;

    --interface-filter-container-bg: #334155;
    --interface-filter-button-bg: #334155;
    --interface-filter-button-color-text: rgba(255, 255, 255, 0.9);
    --interface-active-filter-button-bg: #C5E384;

    --interface-list-of-task-bg: #475569;
}

body {
    margin: 0;
    min-height: 100vh;
    background: var(--body-bg)
}

.interface-container {
    width: 90%;
    max-width: 900px;
    margin: 40px auto;
    background: var(--interface-bg);
    border-radius: 20px;
    padding: 20px;
    box-shadow: var(--interface-shadow)
}

.name-theme {
    display: grid;
    grid-template-columns: 1fr 45px;
}

.button-theme-toggle {
    width: 45px;
    height: 45px;
    display: flex;
    border: none;
    border-radius: 50%;
    background: transparent;
    padding: none;
    align-items: center;
    cursor: pointer;
    color: var(--text-primary);
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: var(--text-primary);
}

.name h1 {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    color: var(--text-primary)
}

.name span {
    font-weight: 600;
    color: var(--text-secondary);
}

.subtitle {
    text-align: center;
    margin: 2px 0 0;
    font-size: 16px;
    color: var(--text-secondary);
    margin-bottom: 25px;
}

.interface-tasks-name {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    color: var(--text-primary)
}

.interface-tasks-create-task {
    margin-bottom: 35px;
}

.interface-tasks-create-task form{
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: nowrap;
}

.create-task-wrapper {
    position: relative;
    flex: 1;
}

.interface-tasks-create-task input {
    box-sizing: border-box;
    width: 100%;
    padding: 12px 12px 12px 44px;
    border-radius: 12px;
    border: 1px solid rgba(0,0,0,0.05);
    background: var(--interface-create-task-bg);
    box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
    color: var(--text-primary);
}

.interface-tasks-create-task input::placeholder {
    color: var(--text-primary);
}

.create-task-wrapper-img {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    opacity: 0.5;
    color: var(--text-primary);
}

.interface-tasks-create-task button {
    display: flex;
    align-items: center;
    gap: 8px;
    white-space: nowrap;
    border: none;
    background: linear-gradient(135deg, #21c2b3, #2eafc4, #2f9ad4);
    color: var(--text-primary);
    padding: 12px 20px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s;
}

.interface-tasks-create-task form button img {
    display: block;
    color: var(--text-primary);
}

.create-task-wrapper input, form button {
    height: 44px;
}

form button:hover {
    transform: scale(1.1);
}

/* Filter */
.filter-container {
    appearance: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: fit-content;
    border-radius: 15px;
    margin: 0 auto;
    padding: 6px;
    background-color: var(--interface-filter-container-bg);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
}

.filter-btn {
    appearance: none;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px;
    border: none;
    background-color: var(--interface-filter-button-bg);
    color: var(--interface-filter-button-color-text);
    cursor: pointer;
    border-radius: 15px;
}

.filter-container button + button {
    border-left: 1px solid rgba(0, 0, 0, 0.03);
}

.filter-active {
    background-color: var(--interface-active-filter-button-bg);
    border-radius: 12px;
    color: #2c2c2c;
}

/* Tasks */
.interface-tasks {
    margin-bottom: 15px;
}

.interface-created-tasks {
    padding: 0 12px;
}

.interface-created-tasks-name {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    color: var(--text-primary)
}

.interface-created-tasks-name h2 {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}

.interface-created-tasks-name output {
    font-size: 14px;
    border-radius: 12px;
    background: rgba(47, 162, 206, 0.15);
    padding: 5px 15px 5px 15px;
    box-shadow: 0px 0px 2px rgba(47, 162, 206, 0.2);
}

.interface-created-tasks-name span {
    color: var(--text-secondary);
}

.interface-created-tasks-list {
    margin-top: 15px;
}

.list-of-tasks {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list-of-tasks li {
    display: flex;
    gap: 15px;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.03);
    border-radius: 12px;
    padding: 15px;
    background: var(--interface-list-of-task-bg);
    margin-bottom: 5px;
    transition:
        background-color 0.2s,
        transform 0.5s,
        opacity 0.5s;
}

.list-of-tasks li:hover {
    background-color: #C2D8C4;
}

.list-of-tasks li:last-of-type {
    margin: 0;
}

.list-of-tasks li p {
    flex: 1;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: sans-serif;
    color: var(--text-primary);
}

.list-of-tasks .delete-task-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    cursor: pointer;
    padding: 5px;
    border: none;
    color: rgba(255, 0, 0, 0.7);
}

.list-of-tasks .delete-task-button:hover {
    cursor: pointer;
    transform: scale(1.25);
}

.list-of-tasks input[type="checkbox"] {
    appearance: none;
    position: relative;
    width: 22px;
    height: 22px;
    margin: auto;
    border: 1px solid #222;
    border-radius: 3px;
    transition: 0.2s all;
}

.list-of-tasks input[type="checkbox"]:hover {
    transform: scale(1.2);
}

.list-of-tasks input[type="checkbox"]:checked {
    background-color: #c5e77c;
    border: none;
}

.list-of-tasks input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-53%) translateY(-60%) rotate(35deg);
    width: 7px;
    height: 10px;
    border-right: 3px solid rgb(255, 255, 255);
    border-bottom: 3px solid rgb(255, 255, 255);
    border-radius: 1px;
}

/*checked button */
.completed {
    text-decoration: line-through;
    opacity: 0.5;
    color:gray;
}

li.task-for-delete {
    opacity: 0;
    transform: scale(0.9);
}

input:focus {
    outline: none;
    border: 1.5px solid #c5e77c;
}